<!-- about.hbs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>About</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
  <div class="about-div">
    <div class="title style">
    <h1 class="about-title">Welcome to The Cool Clay Club</h1>
    <p>👋</p>
    </div>
      <div class= "about">
        <div class="about-paragraph">In a historic passage of the 11th, the Cool Clay Club offers a space of creation entirely dedicated to the ceramics which is intended for all the practices, occasional or regularly.</div>
        <div class="about-paragraph">Clay was created to make the practice of ceramics more accessible. The workshop offers a space of more than 80m² located in a quiet passage in the heart of Paris, fully equipped for a practice without constraint. The workshop has a space for turning, modeling, enamelling and storage. The cooking of your masterpieces will be provided by us.</div>
        <div class="about-paragraph">We invite you to read our offers on this site, and to come and meet us at the workshop.</div>
        <div class="about-signature">The Cool Clay Club Team</p>
      </div>
  </div>
</body>
</html>