<!-- bowls.hbs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Bowls</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
  <div class="row">
    <img class="pottery-img" src="/images/bowl1.png">
    <img class="pottery-img" src="/images/bowl2.png">
    <img class="pottery-img" src="/images/bowl3.png">
    <img class="pottery-img" src="/images/bowl4.png">
    <img class="pottery-img" src="/images/bowl5.png">
    <img class="pottery-img" src="/images/bowl6.png">
  </div>
</body>
</html>