<!-- plates.hbs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Plates</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
  <div class="row">
    <img class="pottery-img" src="/images/plate1.png">
    <img class="pottery-img" src="/images/plate2.png">
    <img class="pottery-img" src="/images/plate3.png">
    <img class="pottery-img" src="/images/plate4.png">
    <img class="pottery-img" src="/images/plate5.png">
    <img class="pottery-img" src="/images/plate6.png">
  </div>
</body>
</html>