<!-- vases.hbs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Vases</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
</head>
<body>
  <div class="row">
    <img class="pottery-img" src="/images/vase1.png">
    <img class="pottery-img" src="/images/vase2.png">
    <img class="pottery-img" src="/images/vase3.png">
    <img class="pottery-img" src="/images/vase4.png">
    <img class="pottery-img" src="/images/vase5.png">
    <img class="pottery-img" src="/images/vase6.png">

  </div>
</body>
</html>